*.o
*.dSYM
*.csv
*.txt
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
__pycache__
Thumbs.db
*.swp

# dataset
VOCdevkit
*.h5
